# application
TELEGRAM_TOKEN=
ENVIRONMENT=dev
MONGODB_STRING=mongodb://user:password@mongodb:27017/
DATA_ROOT_PATH=.

# optional
APPROVED_USERS=
ADMIN_USER_ID=
DOCKER_TOKEN=
AI_GATEWAY_API_KEY=
LOG_LEVEL=INFO

# database
MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
